body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(forest.jpg) no-repeat center center fixed;
  background-size: cover;
}

.main_div{
  background-color:rgba(0, 0, 0, .4) ;
  margin: 0 auto;
  width: 1200px;
  border-radius: 25px;
  padding: 0px 0px 0px 0px;
}

.top_div
{
  margin: 0 auto;
  text-align:center;
  width: 1000px;
  border-radius: 25px;
  padding: 10px 50px 20px 50px;
}

#mage {
  position: absolute;
  left: 0%;
  margin-top:150px;
  margin-left: 1550px;
  width: 400px;
  height: 700px;
  border-radius: 0%;
  
}

#left_x {
  position: absolute;
  left: 0%;
  margin-top:280px;
  margin-left: 80px;
  width: 80px;
  height: 80px;
  visibility:hidden;
}

#right_x {
  position: absolute;
  left: 0%;
  margin-top:280px;
  margin-left: 120px;
  width: 80px;
  height: 80px;
  visibility:hidden;
}

#fire {
  position: absolute;
  left: 0%;
  margin-top:400px;
  margin-left: 120px;
  width: 1400px;
  height: 400px;
  visibility:hidden;
    border-radius: 25px;
}

.monster {
  position: absolute;
  left: 0%;
  margin-top:150px;
  margin-left: 10px;
  width: 400px;
  height: 700px;
  border-radius: 0%;
}

h1, h2 {
  color:lightblue;
  text-align:center;
}

.name, .hit_points {
  color:lightgreen;
  font-weight:bold;
}

.red {
  color:red;
  font-weight:bold;
}

.text_input {
  margin: 0 auto;
  width:90%;
  border-radius:20px;
  height: 30px;
  padding: 0px 0px 0px 10px;
}

.beutin {
  margin: 0 auto;
  text-align:center;
}

#barmaid {
  position: absolute;
  left: 0%;
  margin-top:150px;
  margin-left: 10px;
  width: 400px;
  height: 700px;
  border-radius: 0%;
  
}